<div class="main__admin_action">
<div class="container">
    <div class="main__add_video">
        <div class="bg-light video__table_mobile" style="overflow:auto;height:300px">
        {{#each courses.videoId1}}
            <div class="">
                <p class="text-info">{{lookup ../courses.bai @index}}</p>
                <p class="border-bottom border-danger"><b>Idvideo: </b> {{this}}</p> 
            </div>
        {{/each}} 
        </div>
        <div class="video__table_in_mobile" style="height:300px">
            <div class="form-group">
                    <a href="/admin">Về trang quản lí</a>
                </div>
            <form action="addvideo" method="POST">
                <div class="form-group">
                    <label for="bai">Tên video</label>
                    <input class="form-control" id="bai" name="bai" type="text">
                </div>
                <div class="form-group">
                    <label for="idvideo">Idvideo</label>
                    <input class="form-control" id="idvideo" name="videoId1" type="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Thêm</button>
                    <a class="btn btn-danger" href="delete" style="float: right;">Xóa video cuối</a>
                </div>
            </form>
        </div>        
    </div>
</div>
</div>