<div class="container">
    <div class="thongbao-new">
        <div class="text-danger"><h3><i class="fas fa-envelope"></i> Hòm thư</h3></div>
        {{#each news}} 
        <div class="tinnhan">
          <a href=""><b>{{this.name}}</b> góp ý với <b class="text-danger">Course Online</b></a>
          <small class="read"><i class="text-danger fab fa-pinterest"></i> <b>Chưa đọc </b></small>
          <small class="time"><i class="text-danger fab fa-pinterest"></i> <b>Chưa đọc </b></small>
        </div>
        {{/each}}
    </div>
</div>