<div class="container profile__" >
    <div class="bg-light col-sm-7 m-auto rounded pt-2" style="height: 500px;">
        <div class="mb-3 pl-5">
                <a class="ml-sm-5 text-info" href="/profile" style="font-size:20px;text-decoration:none">
                    <i class="fas fa-angle-left "></i>&nbsp;&nbsp;&nbsp;&nbsp;Tài khoản
                </a>           
            <div class="mt-5 ml-sm-5">
                <h1>Đổi mật khẩu</h1>
            </div>            
            <small class="ml-sm-5">
                Hãy đặt mật khẩu bằng cách sử dụng ít nhất 5 ký tự
                <p class="ml-sm-5 text-danger"><b>Course Online</b></p>
            </small>
        </div>
        <div class="text-center" style="height: 20px;">
            <p class="text-danger" id="msg">{{msg}}</p>
            <b class="text-success">{{msg2}}</b>
        </div>
        {{#if success}}
            <div class="col-sm-9 m-auto">
                <form action="password" method="POST">
                    <div class="form-group">
                        <div>
                            <label for="Password1"><b>Mật khẩu mới</b></label>
                        </div>
                        <input style="font-size: 14px;" class="form-control p-2" type="password" name="pass" id="Password1" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="Password2"><b>Nhập lại mật khẩu</b></label>
                        </div>
                        <input style="font-size: 14px;" class="form-control p-2" type="password" name="pass2" id="Password2" placeholder="Nhập lại mật khẩu mới">
                    </div>
                    <div class="form-group text-right">
                        <input class="btn btn-danger" type="submit" value="Đổi mật khẩu">
                    </div>
                </form>
            </div>
        </div>
        {{else}}
        <div class="text-center mt-5"><a href="/">Quay về trang chủ</a></div>
        {{/if}}
</div>
<script>
    setTimeout(function(){ 
				document.getElementById('msg').style.display = "none";
			}, 4000)
</script>