<div class="footer mt-2">
<div class="card">
  <img class="card-img-top" style="width:100%;heigth:20%;" src="/img/banner.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Design by Duy Khanh</h5>
    <p class="card-text">Contact email: <a href="">svnam6.work@email.com</a> </p>          
    <p class="card-text"><small class="text-muted">Start 2020</small></p>
  </div>
</div>
</div>