<div class="footer">
  <div class="footer-ribbon">

  </div>
  <div class="footer-info">
      <div class="footer-info-contact">
          <div class="footer-info-contact__email">
              Email liên hệ: <a href="">duykhanh06@gmail.com</a>
          </div>
          <div class="footer-info-contact__author">
              Design by Duy Khánh
          </div>
          <small class="text-secondary">Start 2017</small>
      </div>
  </div>
</div>