<div class="header">
        <div class="logo__link ml-4">
            <a href="/"><h3><b>Course Online</b></h3></a>
        </div>
      <div class="header__link">
        <div class="items__link">
            <a href="/"><b>Trang chủ</b></a>
        </div>
        <div class="items__link">
            <a href="/course"><b>Khóa học</b></a>
        </div>
    </div>
    <div class="header__auth">
      {{#if cast}}
      <div class="avatar">
        {{#if admin}}
        <img src="/img/admin.jpg" alt="">
        <span class="text-danger"><b>{{name}}</b></span>
        {{else}}
        <img src="/img/userchat.png" alt="">
        <span>{{name}}</span>
        {{/if}}
      </div>
      <div class="line__"></div>
      <div class="__auth__login">
          <div class="__auth_items">
              <span><i class="fas fa-bookmark"></i></span>
          </div>
          <div class="__auth_items">
              <span><i class="fas fa-bell"></i></span>
          </div>
          <div class="__auth_items_menu">
              <div class="__check_menu" >
                    <span id="show__logout__btn"><i class="fas fa-sign-out-alt"></i></span>
                    <div class="___log_out">
                        <div class="table__log_out">
                            <h5 class="text-center">Bạn chắc chắn muốn đăng xuất?</h5>
                            <div class="btn__log__out">
                              <div class="__yes_logout">
                                <a class="btn btn-info" href="/logout">Đăng xuất</a>
                              </div >
                              <div class="___no_logout">
                                <span id="back__logout" class="btn btn-secondary">Trở về</span>
                              </div>
                            </div>
                        </div>
                    </div>
              </div>
              <input hidden class="nav__input_check" type="checkbox" id="checkmenu">
              <label for="checkmenu" class="layout__menu"></label>
              <div id="nav" class="show___menu">
                <label for="checkmenu" class="close__menu" >
                  <i class="fas fa-ellipsis-v"></i>
                </label>
                <div class="main__menu_show">
                  {{#if admin}}
                  <div class="items__menu_auth">
                    <a href="/admin"><i class="fas fa-user-cog"></i> Quản lí</a>
                  </div>
                  {{/if}}
                  <div class="items__menu_auth">
                    <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook"></i> Fanpage</a>
                  </div>
                  <div class="items__menu_auth">
                    <a href="/courses/feedback"><i class="fas fa-envelope"></i> Góp ý</a>
                  </div>
                  <div class="items__menu_auth">
                    <a href="/profile"><i class="fas fa-cog"></i> Cài đặt</a>
                  </div>
                </div>                  
              </div>
          </div>
      </div>
      <script src="https://code.jquery.com/jquery-1.12.1.min.js" type="text/javascript"></script>
      <script>
        var backLogout = document.getElementById('back__logout');
        var showLogout = document.getElementById('show__logout__btn');
        backLogout.onclick = function() {
         document.getElementsByClassName('___log_out')[0].style.display = 'none'
        }
        showLogout.onclick = function() {
         document.getElementsByClassName('___log_out')[0].style.display = 'flex'
        }

        $(window).scroll(function () {
              if ($(window).scrollTop() >= 61) {
                  $('#nav').addClass('navbar-fixed-top');
              }


              if ($(window).scrollTop() >= 100) {
                  $('#nav').addClass('show');
              } else {
                  $('#nav').removeClass('show navbar-fixed-top');
              }
          });
      </script>
      {{else}}
      <div class="__auth__login">
        <div class="__auth_items">
          <a href="/login"><b>Đăng nhập</b></a>
        </div>
        <div class="__auth_items">
          <a href="/signup"><b>Đăng ký</b></a>
        </div>
      </div>
      {{/if}}
    </div>
</div>