<div class="bottom-navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand " href="/"><b style="color: #df461c;">Course Online</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="/course">Khóa học</a>
      </li>
    </ul>
    {{#if cast}}
    <div class=" btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle mr-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tài khoản
                </button>
                <div class="mr-5 dropdown-menu dropdown-menu-right">
                  <p class="ml-4 logout"><b>{{name}}</b></p>
                  <a type="button" class="dropdown-item" href="/profile">
                      <i class="fas fa-cog"></i>&nbsp;Cài đặt
                  </a>
                  {{#if admin}}
                  <a type="button" class="dropdown-item" href="/admin">
                      <i class="fas fa-user-cog"></i>&nbsp;Quản lí
                  </a>
                  {{/if}}
                  <a type="button" class="dropdown-item" href="/logout">
                      <i class='fas fa-sign-out-alt'></i>&nbsp;Đăng xuất
                  </a>
                </div>
    </div>
    {{else}}
    <a type="button" class="btn btn-info" href="/login">Đăng nhập</a>
    {{/if }}
</div>
</nav>
</div>
