<header>
    <div class="header-admin">
        <a class="back-shop" href="/">
            Cnow
        </a>
        <div class="header-admin__auth">
            <a class="btn btn-dark" href="/admin/thongbao">
                <i class="fas fa-bell" style="position: relative;">
                {{#if newLetter}}<span class="dot-onti"><small class="new-num"><b>{{news}}</b></small></span>{{/if}}</i>
            </a>
            <a href="/logout" class="btn btn-logout">
                Đăng xuất
            </a>
        </div>
    </div>
</header>