        <div class="col-sm-3 show-video mt-5">
            <div><h3>Video bài học</h3></div>
                <div class="mt-3">
                {{#each course.videoId1}}
                <div  class="lesson">
                    <a class="btn" style="text-align: left;"  href="/courses/{{../course.slug}}/{{this}}">
                        <img src="http://demo637737.000webhostapp.com/img/play2.png" width="40px" alt="Play">
                         <b> Bài {{lookup ../course.bai @index}}</b>
                                            
                    </a>
                </div>
                {{/each}}
            </div>  
                    
        </div>
        <script>
            
        </script>
        
       