        <div class="col-sm-3 show-video mt-5">
            <div><h3>Video bài học</h3></div>
                <div class="mt-3">
                {{#each course.videoId1}}
                <div  class="lesson">
                    <a class="btn" style="text-align: left;"  href="/courses/{{../course.slug}}/{{this}}/{{lookup ../course.bai @index}}">
                        <img src="../../../../img/play.png" width="40px" alt="Play">
                         <b class="name">Bài {{lookup ../course.bai @index}}</b>               
                    </a>
                </div>
                {{/each}}
            </div>       
        </div>
        <script>
            var baihoc = document.getElementById('bai');
            var namelesson = document.getElementsByClassName('name');
            var lesson = document.getElementsByClassName('lesson');
            for (var i = 0; i < lesson.length; i++ ){
                if (namelesson[i].outerText == baihoc.outerText) {
                    lesson[i].style.background = "linear-gradient(to right, #fbc603, rgb(255, 255, 255))";
                }else{
                    lesson[i].style.background = ""
                }
            }
        </script>
        
       