{{#if cast}}
<div class="msg-admin-main">
    <div id="msg-admin" class="msg-admin">
        <p class="icon"><i class="far fa-envelope"></i></p>
        <h4 id="title-admin" class="title-admin">Liên hệ Admin</h4>
    </div>
    <div id="screen-msg" class="screen-msg screen-msg-none">
        <div class="header-screen-msg">
            <span class="text-light" id="tags-title"><b>Liên hệ admin</b></span>
            <span class="text-light" title="Đónng cửa sổ chat" id="close-msg-admin"><h1>&times;</h1></span>
        </div>
        <div id="body-screen-msg" class="body-screen-msg">
            <div class="admin-feed">
                <img src="/img/bot.jpg" alt="HeHe">
                <span></span>
                Chào mừng <b>{{name}}</b> đã tới với <b class="text-danger">Course Online</b>.
                Tôi là HeHe trong lúc chờ đợi quản trị viên phản hồi tôi có thể giúp bạn tìm hiểu về:
                Khóa học, học phí, các ngôn ngữ xây dựng nên <b class="text-danger">Course Online</b>,...
                <small id="time__now"></small>
            </div>
        </div>
        <div class="foot-screen-msg">
            <input id="enter-msg" type="text" placeholder="Nhập nội dung..." autocomplete = "off">
            <div class="laugh">
                <span><i class="fas fa-paperclip"></i></span>
                <span><i class="far fa-laugh"></i></span>
            </div>
        </div>
    </div>
</div>
<script src="/js/bot.js"></script>
{{/if}}
