<div id="sidemenu" class="mt-3 bg-light p-2" style="width: 420px; border-radius: 0 4rem 0 0;">
    <ul>
        <li ><a class="btn "href="/course" style="border-radius: 0 2rem;"><b>Tất cả khóa học</b></a></li>
        <li ><a class="btn " href="/frontend" style="border-radius: 0 2rem ;"><b>Front-end</b></a></li>
        <li ><a class="btn "href="/backend" style="border-radius: 0 2rem;"><b>Back-end</b></a></li>
    </ul>
</div>
<script>
    var btnSide = document.querySelectorAll('#sidemenu li');
    var btna = document.querySelectorAll('#sidemenu a');
    var title = document.getElementById('title');

    if( title.innerHTML === 'Khóa học'){
        btna[0].classList.add('btn-success')
    }
    if( title.innerHTML === 'Frontend'){
        btna[1].classList.add('btn-success')
    }
    if( title.innerHTML === 'Backend'){
        btna[2].classList.add('btn-success')
    }
</script>