<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/msg.css">
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/showcourse.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/viewShow.css">
    <link rel="stylesheet" href="/css/seemore.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/mycourses.css">
    <link rel="stylesheet" href="/css/responsive_mobile.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/882f0e5447.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="/img/favcion.jpg" type="image/gif" sizes="16x16">
    <title id="title">{{title}}</title>
    <script>const socket = io(window.location.origin);</script>
</head>
<body>
    <noscript>Ứng dụng chỉ hoạt động trên các trình duyệt có hỗ trợ javascript</noscript>
        <div class="main">
            {{#if hiddenHeader}}
                {{> headeradmin}}
            {{else}}
                {{> header}}
            {{/if}}
                {{{body}}}
            {{#if hiddenHeader}}
            {{else}}
                {{> footer}}
            {{/if}}
        </div>
        <div id="table" class="text-dark">
            <h3>Ứng dụng chưa hỗ trợ cho thiết bị này</h3>
            <p>Sử dụng pc để có trải nghiệm tốt nhất</p>
        </div>
        <div id="mobile">
            <h6>Ứng dụng chưa hỗ trợ cho thiết bị này</h6>
            <p>Sử dụng pc để có trải nghiệm tốt nhất</p>
        </div>
</body>
<script src="/js/visited.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>