<div class="container bg-light mt-4 pt-2">
    <div>
        <a class="btn btn-primary" href="/admin/insert" style="float: left;">Thêm khóa học
            <i class="fas fa-plus"></i>
        </a>
        <h2 class="text-secondary text-right">Quản lí&nbsp;&nbsp;<i class=" fas fa-user-cog"></i></h2>
    </div>
    <div style="height:500px;overflow:auto">
        <div class="row ml-3">
            {{#each courses}}
            <div class="mt-2 border border-secondary col-sm-3">
                    <h5 class="text-center"><b>{{this.name}}</b></h5>
                    <div class="mb-2 mt-3">
                        <a class="btn btn-danger text-light" href="" style="width:32%"  data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="btn btn-success text-light" href="admin/{{this._id}}/edit" style="width:32%;"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-secondary text-light" href="" style="width:32%;"><i class="fas fa-plus"></i></a>
                    </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="delete-course" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-4 border-bottom text-center">
        <h5>Admin muốn xóa khóa học này không?</h5>
      </div>
      <div class="p-4">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" style="float: right;" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){

        var Courseid;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');

        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            Courseid = button.data('id');
    });
  
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/admin/'+Courseid+'/delete';
            deleteForm.submit();
    }  
});
</script>