<div class="container bg-light pt-4 mt-3">
    <div class="col-sm-8 m-auto">
        <h2 class="text-danger">Thêm khóa học</h2>
        <form class="mt-4"  method="POST">
            <div class="form-group">
                <label for="name"><h5>Tên khóa học</h5></label>
                <input type="text" id="name" class="form-control" name="name" value="{{courses.name}}">
            </div>
            <div class="form-group">
                <label for="mota"><h5>Mô tả</h5></label>
                <textarea class="form-control" id="mota" style="height: 150px;resize:none" name="mota" >{{courses.mota}}</textarea>
            </div>
            <div class="form-group">
                <label for="img"><h5>Link ảnh</h5></label>
                <input type="text" id="img" class="form-control" name="img" value="{{courses.img}}">
            </div>
            <div class="form-group">
                <label for="slug"><h5>Slug</h5></label>
                <input type="text" id="slug" class="form-control" name="slug" value="{{courses.slug}}">
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary mb-4">Lưu khóa học</button>
            </div>
        </form>
    </div>
</div>
