<div class="mt-4">
    <div class="background-home">
        <div class="text__home_1"><b><p>Học lập trình với các khóa học chất lượng</p></b></div>
        <div class="text__home_2"><b>CỘNG ĐỒNG HỌC LẬP TRÌNH MIỄN PHÍ</b></div>
        <div class="main__btn___home">
            <div class="btn_home">
                <a class="btn btn-course-home btn__course__go" href="/course"><b>KHÓA HỌC</b></a>
            </div>
            <div class="btn_home">
                {{#if login}}
                {{else}}
                <a class="btn btn-course-home" href="/signup"><b>ĐĂNG KÝ</b></a>
                {{/if}} 
            </div>
        </div>
        <div class="container">
            <div class="img__home">
                <div class="img__home_items">
                    <div><p><b>9.999+ thành viên</b></p></div> 
                </div>
                <div class="img__home_items">
                    <div><p><b>5+ khóa học</b></p></div> 
                </div>
                <div class="img__home_items">
                    <div><p><b>Học bất cứ đâu, bất cứ khi nào</b></p></div> 
                </div>
            </div> 
        </div>
    </div>
    <div class="home-text-msg">
        <div class="home-text-msg__txt">
            "... cảm ơn các khóa học tại F8, cảm ơn các kiến thức bổ ích mà F8 đã mang tới, 
            cảm ơn anh Sơn Đặng người đã xây dựng và tạo nên 1 cộng đồng tuyệt vời như F8 ..."
        </div>
        <div class="home-text-msg__note">
            - Sản phẩm dựa theo: <a href="https://fullstack.edu.vn" target="_blank">fullstack.edu.vn</a> -
        </div>
    </div>
</div>
{{> chatfb}}
<div class="loader loading-page">
    <div class="loading-page__title">
        Course Online
    </div>
</div>
<script>
    const bodyLoading = document.querySelector('.loader');
    let setLoad = sessionStorage.getItem('isLoad');
    if (!setLoad) sessionStorage.setItem('isLoad', 0);
    const loading = {
        isLoad: Number(setLoad),
        handle: function() {
            if (this.isLoad < 1) {
                setTimeout(
                    function() {
                        bodyLoading.classList.remove('loading-page');
                    }, 1700)
                this.sumnumber()
            }else {
                bodyLoading.classList.remove('loading-page');
            }
        },
        sumnumber: function() {
                this.isLoad = this.isLoad+1;
                sessionStorage.setItem('isLoad', this.isLoad);
        },
        start: function() {
            this.handle()
        }
    }
    loading.start();
</script>
   
