<div class="mt-4">
    <div class="background-home">
        <div class="text__home_1"><b><p>Học lập trình với các khóa học chất lượng</p></b></div>
        <div class="text__home_2"><b>CỘNG ĐỒNG HỌC LẬP TRÌNH MIỄN PHÍ</b></div>
        <div class="main__btn___home">
            <div class="btn_home">
                <a class="btn btn-course-home btn__course__go" href="/course"><b>KHÓA HỌC</b></a>
            </div>
            <div class="btn_home">
                {{#if cast}}
                {{else}}
                <a class="btn btn-course-home" href="/signup"><b>ĐĂNG KÝ</b></a>
                {{/if}} 
            </div>
        </div>
        <div class="container">
            <div class="img__home">
                <div class="img__home_items">
                    <img src="https://fullstack.edu.vn/images/feature-1.png?32035f34c520f99c24c91ef22921b547" width="100px">
                <div><p><b>9.999+ thành viên</b></p></div> 
                </div>
                <div class="img__home_items">
                    <img src="https://fullstack.edu.vn/images/feature-2.png?b1b45d7724929e4208d151888ef1b6fc" width="100px">
                <div><p><b>5+ khóa học</b></p></div> 
                </div>
                <div class="img__home_items">
                     <img src="https://fullstack.edu.vn/images/feature-3.png?1364c5701d95fced16b9d796fceff7d5" width="100px">
                <div><p><b>Học bất cứ đâu, bất cứ khi nào</b></p></div> 
            </div>
        </div> 
    </div>
</div>
</div>
{{> botchat}}

   
