<div class="main__login">
    <div class="container col-sm-4 col-md-6 col-lg-4 sign-up">
        <h2>Đăng nhập</h2>
        <form id="form-login" method="POST" id="login-form">
            <div class="form-group">
                <label for="name1">Tên đăng nhập</label>
                <input type="text" class="form-control"  id="username" name="name1" placeholder="Nhập tên đăng nhập">
                <div class="form_message"></div>
            </div>
            <div class="form-group">
                <label for="Password1">Nhập mật khẩu</label>
                <div class="pass">
                   <input type="password" class="form-control" id="Password1" name="pass" placeholder="Nhập mật khẩu">
                    <div class="showpass">
                    <span class="btneye btn" style="display:none"><i class="fas fa-eye"></i></span>
                        <span class="btneye btn"><i class="fas fa-eye-slash"></i></span> 
                    </div> 
                </div>
                <div class="form_message"></div>
            </div>
            <div class="check__captcha">
                <div class="input__check">
                    <label for="mact">Kết quả</label>
                    <input type="text" class="form-control" maxlength="6" id="cpatchaTextBox" name="mact">
                </div>
                <div class="random__check">
                    <div class="captcha" onclick="check()"><b id="demo"></b></div>
                    <input type="hidden" id="c" maxlength="6" id="cpatchaTextBox" name="mact2">
                </div>
            </div>
            <div class="thong-bao mt-4" ><b><p id="msg">{{msg}}</p></b></div>
            <div class="login">
               <button id="btn-login" class="btn btn-danger btn-sign-footer">Đăng nhập</button>
               <a href="/signup" class="btn btn-danger btn-sign-footer">Chưa có tài khoản</a>
            </div>             
        </form>
    </div>
    <div class="load" id="load">
        <div class="preload-icon">
            <i class="fa fa-spinner fa-spin text-light" style="font-size: 60px;"></i>
            <h4>đang đăng nhập</h4>
        </div>
    </div>
<script>
    var btnInsertCourse = document.getElementById('btn-login');
    {{!-- var loginForm = document.forms['login-form'];
        btnInsertCourse.onclick = function(){   
            document.getElementById('load').style.display = "flex";
            loginForm.action="/login";
            loginForm.submit();
        }   --}}
        setInterval(function(){ 
				document.getElementById('msg').style.display = "none";
			}, 5000);
        document.body.onload = function (){
            var a = Math.floor(Math.random() * 50);
            var c = Math.floor(Math.random() * 50);
            var d = a+c;
            document.getElementById("demo").innerHTML = a+"+"+c ;
            document.getElementById("c").value = d;
        } 

        function check(){
            var a = Math.floor(Math.random() * 50);
            var c = Math.floor(Math.random() * 50);
            var d = a+c;
            document.getElementById("demo").innerHTML = a+"+"+c ;
            document.getElementById("c").value = d;
        } 

    var passText = document.getElementById('Password1');
    var btnEye = document.getElementsByClassName('btneye');
    btnEye[1].onclick = function(){
        btnEye[0].style.display = "";
        btnEye[1].style.display = "none";
        passText.type = "text";
    }
    btnEye[0].onclick = function(){
        btnEye[1].style.display = "";
        btnEye[0].style.display = "none";
        passText.type = "password";
    }
</script>
</div>

