<div class="my-4">
    <div class="container col-sm-4 col-md-6 col-lg-4 sign-up">
        <h2>Đăng nhập</h2>
        <form method="POST" id="login-form" onsubmit="validateCaptcha()">
            <div class="form-group">
                <label for="name1">Tên đăng nhập</label>
                <input type="text" class="form-control"  id="" name="name1" placeholder="Nhập tên đăng nhập">
            </div>
            <div class="form-group">
                <label for="Password1">Nhập mật khẩu</label>
                <input type="password" class="form-control" id="Password1" name="pass" placeholder="Nhập mật khẩu">
            </div>
            <div class="form-group">
                <label for="mact">Kết quả</label>
            <div class="form-inline">
                <input type="text" class="form-control col-4 mb-2" maxlength="6" id="cpatchaTextBox" name="mact">
                <div class="captcha" onclick="check()"><b id="demo"></b></div>
                <input type="hidden" class="form-control col-4 mb-2" id="c" maxlength="6" id="cpatchaTextBox" name="mact2" readonly="false" required="true"> 
            </div>
            </div>
            
            <div class="login">
               <button id="btn-login" class="btn btn-danger btn-sign-footer">Đăng nhập</button>
               <a href="signup" class="btn btn-danger btn-sign-footer">Chưa có tài khoản</a>
            </div>             
        </form><div class="thong-bao mt-4" ><p id="msg">{{msg}}</p></div>
    </div>
    <div class="load" id="load">
        <div class="preload-icon">
            <i class=" ml-5 fa fa-spinner fa-spin text-light" style="font-size: 60px;"></i>
            <h4 class="mr-5">đang đăng nhập</h4>
        </div>
    </div>
<script>
    var btnInsertCourse = document.getElementById('btn-login');
    var loginForm = document.forms['login-form'];
        btnInsertCourse.onclick = function(){   
            document.getElementById('load').style.display = "block";
            loginForm.action="/login";
            loginForm.submit();
        }  

        setInterval(function(){ 
				document.getElementById('msg').style.display = "none";
			}, 5000);
        function check(){
        var a = Math.floor(Math.random() * 100);
        var c = Math.floor(Math.random() * 100);
        var d = a+c;
        document.getElementById("demo").innerHTML = a+"+"+c ;
        document.getElementById("c").value = d;
        }
</script>
</div>

