<style>
    .maintenance {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url('/img/baotri.jpeg');
        background-position: center;
        background-size: cover;
        z-index: 10000000000000000;
    }

    .maintenance .text {
        color: red;
        background-color: #fff;
        padding: 5px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }
</style>
<div class="maintenance">
    <div class="text">
        Ứng dụng đang trong quá trình nâng cấp vui lòng quay lại sau!!
    </div>
</div>