<div class="page-404">
    <div class="message">
        <div class="h1">Trang này không tồn tại</div>
        <a class="btn btn-back-home" href="/">Quay lại</a>
    </div>
    <div class="bear">
        <img src="/img/bear.png" alt="">
        <div class="z-1">
            <img src="/img/z-1.gif" alt="">
        </div>
    </div>
</div>