.admin___size {
    width: 90%;
    margin:auto;
    padding: 10px;
    margin-top: 80px;
}

.admin__table {
    display: inline-block;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.admin__course {
    display: inline-block;
    padding: 10px;
    width: 23%;
    margin-left: 1%;
    margin-top: 10px;
    border: 2px solid #747373;
}

.admin__name_course {
    margin-bottom: 5px;
}

.admin__action_course {
    padding: 5px;
}

.btn__admin_action {
    width: 30%;
    text-align: center;
    border-radius: .4rem;
    display: inline-block;
}

.btn__admin_action + .btn__admin_action {
    margin-left: 2.2%;
}

.btn__admin_action > a {
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.main__admin_action {
    padding-top: 80px;
}

/* addVIdeo */

.main-add-video {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.view-add-video {
    min-height: 90%;
    width: 90%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.screen-video {
    width: 45%;
}

.screen-video-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
}

.screen-video-time {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 174, 255);
}


.screen-video__iframe {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    width: 100%;
}

.iframe-add-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.control-add {
    flex: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.list-idvideo {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    box-shadow: 0 0 5px #000;
    padding: 20px;
}