/* CSS header*/
body{
    background-image: url('https://hinhanhdepmoi.files.wordpress.com/2020/04/mau-background-dep.jpg?w=2000&h=1281&crop=1');
    background-repeat: no-repeat;
}
#table, #mobile{
    display: none;
}
.bottom-navbar{
    background-color: #f8f9fa;
    padding-bottom: 2%;
    border-bottom:rgb(255, 255, 255) solid 2px;
    box-shadow: black 0 0 8px 2px;
}
.logo{
    color: #f05123;
    cursor:no-drop;
}

.thong-bao{
    color: rgb(255, 196, 1);
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.logout{
    color:  #f05123;
}
/* sidemenu */


li, ul{
    list-style: none;
    display: inline;
}

/*Footer*/
.email-footer{
    float: right;
}
.btn-sign-footer{
    
    border-radius: 3rem;
}
/*HOME CSS*/
.btn-course-home{
    color: #fff;
    background-color: #f05123;
    border-radius: 3rem;
    width: 220px;
    margin-top: 5%;
}
.btn-course-home:hover{
    color: #fff;
    background-color:  #da471f;
}
.background-home{
    color: #fff;
    padding-left: 15%;
    padding-top: 10%;
    height: 700px;
}
.info-home{
    padding-top: 9%;
    text-align: center;
}
/*COURSE CSS*/
.card-item{
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.noidung{
    height: 80%;
    margin-bottom: 4%;
}
.row{
    margin-right:0;
}
.reviews{
 border: #868686 solid 2px;
}
.btn-learning{
    border: none;
    background-color: #da471f;
}
.btn-learning:hover{
    background-color: #be3f1c;
}
/* Sign up*/
.sign-up{
    color: #fff;
    margin-bottom: 10%;
}
.sign-up h2{
    text-align: center;
}
/* Sign in*/
.login a{
    float: right;
}
.captcha{
    font-size: 30px;
    margin-left: 35%;
    cursor: default;
    width: 120px;
    padding:  5px 0 0 20px;
    color: black;
    background-image: url('https://i.pinimg.com/originals/b4/31/48/b43148675959cdb19d1964abe2d50254.png');
}
.msg {
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: rgb(41, 40, 40,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
}
.table-msg {
    margin-top: 25%;
    border: 2px solid black;
    border-radius: 1rem;
}

/* Show*/
.show-info{
    background-color: #fff;
    border-radius: 1rem;
}
.show-info li{
    color: #da471f;
}
.show-video{
    overflow-y:scroll;
    background:rgba(0, 0, 0, 0.3);
    height: 500px;
    color:#fff;
    border-radius: 1rem;
}
.lesson{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 60px;
    background-color: #fff;
}
.lesson a{
    height: 100%;
    width: 100%;
}
/* css profile */


/* css insert */
.load {
    width: 100%;
    height: 100%;
    background: #000000;
    background-color: rgb(36, 34, 34, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    display: none;
}
.preload-icon {
    font-size: 66px;
    color: #fff;
    margin-top: 15%;
    margin-left: 45%;
}
/* Member */
.search input{
    border-radius: 1rem 0 0 1rem  ;
    border: 2px solid #32383e;
    padding: 5px;
    width: 300px;
    outline: none;
}
.search button{
    background-color: #32383e;
    border: 2px solid #32383e;
    border-radius:  0 1rem 1rem 0  ;
    margin-left: -5px;
    width: 70px;
    padding: 5px;
    outline: none;
}
.search button:hover{
    background-color: #252a2e;
    cursor: pointer;
}
.warning::placeholder{
    font-size: 20px;
    font-weight:800;
    color: red;
}

/* table */

@media (min-width: 740px) and (max-width: 1023px) {
    .main{
        display: none;
    }

    #table{
        display: block;
        color: #fff;
        text-align: center;
        padding-top: 40%;
    }

    #mobile{
        display: none;
    }

    
}
@media (max-width: 739px){
    .main{
        display: none;
    }

    #table{
        display: none;
    }

    #mobile{
        display: block;
        color: #fff;
        text-align: center;
        padding-top: 50%;
    }

}