.msg-admin-main {
    position: fixed;
    right: 60px;
    bottom: 30px;
    height: 90px;
    width: 90px;
    z-index: 100;
}

.msg-admin {
    background-image: url(/img/bot.jpg);
    background-size: cover;
    position: fixed;
    right: 60px;
    bottom: 30px;
    height: 90px;
    width: 90px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: .3s;
    z-index: 1000;
}

.msg-admin:hover {
    cursor: pointer;
    right: 50px;
    bottom: 20px;
    height: 105px;
    width: 105px
}

.msg-admin-2 {
    position: fixed;
    background-image: url(/img/heart.jpg);
    right: 60px;
    bottom: 30px;
    border-radius: 50%;
    animation: moveMsg-2 .4s linear forwards;

}

.msg-admin-3 {
    right: 400px;
    height: 40px;
    width: 42px;
    border-radius: 2rem;
    position: fixed;
    bottom: 30px;
    animation: moveMsg-3 .4s linear forwards;
}

.msg-admin-2:hover {
    cursor: default;
}

@keyframes moveMsg-2 {
    to {
        bottom: 40px;
        right: 400px;
        height: 40px;
        width: 42px;
        border: 2px solid #ccc;
        color: #ccc;
    }
}

@keyframes moveMsg-3{
    to {
        right: 60px;
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
}

.msg-admin:hover > .title-admin {
    display: block;
}

.msg-admin-2:hover > .title-admin {
    display: none;
}

.title-admin{
    color: #000000;
    background-color: #fff;
    text-align: center;
    border-radius: 2rem;
    padding: 20px 5px;
    left: -25px;
    top: -80px;
    width: 150px;
    border: 2px solid black;    
    position: absolute;
    display: none;
}

.screen-msg {
    width: 400px;
    position: absolute;
    top: -380px;
    left: -300px;
}

.screen-msg-none {
    display: none;
}

#tags-title {
    position: absolute;
    left: 15px;
    top: 10px;
}

#close-msg-admin {
    position: absolute;
    right: 5px;
    top: -10px;
}

#close-msg-admin:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header-screen-msg {
    background-color: rgb(255, 102, 0);
    border-radius: 1rem 1rem 0 0 ;
    height: 40px;
    position: relative;
}


.body-screen-msg {
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-anchor:none;
}

.body-screen-msg::-webkit-scrollbar {
    width: 5px;
}

.body-screen-msg::-webkit-scrollbar-thumb {
    background: rgb(255, 102, 0); 
    border-radius: 2rem;
}

.user-chat {
    border-radius: 1rem;
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    padding: 15px;
    min-height: 55px;
    min-width: 70px;
    color: #fff;
    background-color: rgb(255, 145, 0);
    word-break: break-word;
    position: relative;
}

.user-chat:hover {
    cursor: default;
}

.user-chat::selection {
    background-color: transparent;
}

.user-chat > span {
    width: 0;
    height: 0;
    border-left: 12px solid rgb(255, 145, 0);
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    position: absolute;
    bottom: 15px;
    right: -12px;
}

.user-chat > img {
    width: 40px;
    background-color: rgb(71, 71, 71);
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 12px;
    right: -55px;
}

.user-chat > small {
    color: rgb(177, 175, 175);
    position: absolute;
    bottom: -20px;
    left: 25px;
    display: none;
}

.user-chat:hover > small {
    display: block;
}

.admin-feed {
    border-radius: 1rem;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 18px;
    min-width: 70px;
    float: left;
    color: rgb(0, 0, 0);
    background-color:#ccc;
    position: relative;
}

.admin-feed > span {
    width: 0;
    height: 0;
    border-right: 12px solid #ccc;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    position: absolute;
    bottom: 20px;
    left: -12px;
}

.admin-feed > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 12px;
    left: -55px;
}

.admin-feed > small {
    color: rgb(177, 175, 175);
    position: absolute;
    bottom: -20px;
    right: 25px;
    display: none;
}

.admin-feed:hover > small{
    display: block;
}

.foot-screen-msg {
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
}

.laugh {
    position: absolute;
    right: 30px;
    font-size: 26px;
    color: rgb(173, 172, 172);
}

.laugh > span {
    position: relative;
}

.laugh > span > span {
    position: absolute;
    font-size: 14px;
    top: -40px;
    left: -10px;
    width: 95px;
    padding: 4px;
    color: #fff;
    text-align: center;
    background-color: #383737;
    display: none;
}
.laugh > span > span::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid #383737;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 10px;
}
.laugh> span:hover{
    cursor: pointer;  
    color: rgb(131, 130, 130);
}

.laugh> span:hover > span {
    display: block;
}

#enter-msg {
    width: 80%;
    padding-left: 30px;
    padding-right: 50px;
    outline: none;
    border: none;
}

.loading {
    font-weight: 1000;
    display: flex;
    justify-content: center;
  }
  
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}