.toast {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    min-width: 400px;
    min-width: 450px;
    border-left: .4rem solid #000;
    border-radius: .3rem 0 0 .3rem;
    padding: 1rem .5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.189);
    background-color: #fff;
    color: rgb(71, 71, 71); 
    transition: all .35s ease-in-out;
}

.toast__icon {
    font-size: 1.5rem;
    padding-right: 2rem;
}

.toast-text {
    flex: 1;
}

.toast-text__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.toast-text__message {
    font-weight: 600;
}

.toast__close {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.toast__close:hover {
    cursor: pointer;
    opacity: .7;
}

.toast--success {
    border-color: rgb(0, 209, 10);
}

.toast--success .toast__icon {
    color: rgb(0, 209, 10);
}

.toast--info {
    border-color: rgb(0, 91, 209);
}

.toast--info .toast__icon {
    color: rgb(0, 91, 209);
}

.toast--error {
    border-color: rgb(255, 98, 98);
}

.toast--error .toast__icon {
    color: rgb(255, 98, 98);
}

.toast--warn {
    border-color: rgb(255, 217, 0);
}

.toast--warn .toast__icon {
    color: rgb(255, 217, 0);
}

@keyframes toast {
    from {
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toasthide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#toast {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000000;
}

/* style 2 */

.toast-2 {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.toast-2:hover {
    opacity: 1;
    cursor: default;
}

.toast-2.night {
    background-color: transparent;
}

.toast-2-content {
    background-color: #fff;
    padding: 2rem 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: open-toast linear .2s;
}

.toast-2__msg {
    font-size: 1.6rem;
    font-weight: 600;
}

.toast-2__icon {
    font-size: 3rem;
}

.toast-2.night .toast-2-content {
    background-color: rgb(39, 39, 39);
    flex-direction: column;
}

.toast-2.night .toast-2__msg {
    color: #fff;
}

.icon--success {
    color: rgb(0, 255, 0);
}

.toast-2.night .icon--success {
    color: rgb(62, 221, 147);
}

.icon--error{
    color: rgb(255, 0, 0);
}

.toast-2.night .icon--error{
    color: rgb(247, 67, 54);
}

.icon--info{
    color: rgb(0, 102, 255);
}

.toast-2.night .icon--info{
    color: rgb(54, 202, 247);
}

.icon--warn{
    color: rgb(255, 196, 0);
}

.toast-2.night .icon--warn{
    color: rgb(255, 179, 80);
}

@keyframes msgzoom {
    from {
        margin-top: 200px;
    }
    to {
        margin-top: 0;
    }
}

@keyframes open-toast {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    80% {
        transform: scaleX(1.2) scaleY(1.5   );
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }


/* dialog */
.dialog {
    background-color: #fff;
    padding: 1rem 2rem;
    min-width: 400px;
    max-width: 500px;
    border-radius: .4rem;
    box-shadow:  0 0 8px #000;
}

.dialog__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2rem 0;
}

.dialog__actions {
    display: flex;
    justify-content: space-between;
}